@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');

/* Variables */
:root {
	--primary-color: rgba(30, 38, 13, 1);
	--secondary-color: rgba(248, 250, 235, 1);
}

/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Hind', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

/* Utility Classes */
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 24px;
}

.flex {
	display: flex;
	align-items: center;
}

/* Main styles */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	padding: 20px 0;
	display: flex;
	align-items: center;
}

.logo__img {
	height: 2.125rem;
}

.hero {
	background-color: var(--secondary-color);
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 8rem;
	overflow: hidden;
}

.hero__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

/* .hero__text {} */

.hero__image {
	margin-top: 1.2rem;
	padding-block: 12px;
	max-width: 500px;
}
.hero__image-img {
	width: 100%;
	margin-left: auto;
}

.hero__title {
	font-size: 37px;
	font-weight: 500;
	line-height: 48px;
}
.hero__subtitle {
	color: rgba(79, 79, 79, 1);
	margin-top: 12px;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.hero__form {
	margin-top: 30px;
}
.hero__form-group {
	position: relative;
	max-width: 500px;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid rgba(237, 242, 213, 1);
}

.hero__form-input {
	width: 100%;
	padding: 16px 12px;
	padding-right: 114px;
	border: none;
	border-radius: 8px;
}
.hero__form-input::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.hero__form-button {
	flex-shrink: 0;
	position: absolute;
	right: 0;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	padding: 10px 16px;
	margin: 7px;
	border: none;
	border-radius: 8px;
	font-weight: 500;
}

/* Responsive */
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.hero {
		padding-top: 3rem;
	}
	.hero__content {
		justify-content: space-between;
		flex-direction: row;
	}
	.hero__text {
		width: 48%;
	}
	.hero__image {
		margin-top: 0;
		width: 45%;
		max-width: 500px;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 960px;
	}

	.hero__title {
		font-size: 54px;
		line-height: 64px;
	}
	.hero__subtitle {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
		padding: 0 48px;
	}

	.logo__img {
		height: 2.4rem;
	}
	.hero__image {
		width: 45%;
		max-width: 420px;
	}
}

@media (min-width: 1360px) {
	.container {
		padding: 0 24px;
	}

	.hero {
		padding-top: 4rem;
	}
	.hero__title {
		font-size: 60px;
		line-height: 72px;
	}
	.hero__image {
		width: 50%;
		max-width: 570px;
	}
}
